#***Assignment=2 Data Structres***

#1. What are data structures, and why are they important?
- Data structures in Python are specialized formats or containers used to store and organize data efficiently.
-They provide various ways to store, access, and manipulate data according to specific needs.
###Built-in Data Structures:
-Lists: Ordered, mutable collections (e.g., [1, 2, 3]).
-Tuples: Ordered, immutable collections (e.g., (1, 2, 3)).
-Dictionaries: Key-value pairs for fast lookups (e.g., {"name": "Alice", "age": 25}).
-Sets: Unordered collections of unique elements (e.g., {1, 2, 3}).
###Advanced Data Structures (via libraries or custom implementation):
  
- Arrays (using numpy for numerical data).
  
- Stacks: Last-in, first-out (LIFO) structure.
  
- Queues: First-in, first-out (FIFO) structure.
  
- Linked Lists: Nodes with data and references to the next node.
  
- Trees: Hierarchical structures (e.g., binary trees).

- Graphs: Nodes connected by edges.


##They are important for:-
Data structures are critical in programming, especially in data analytics with Python, for the following reasons:

1. **Efficiency**: They enable efficient data storage and retrieval. For example, dictionaries provide O(1) average time complexity for lookups, making them ideal for quick data access in large datasets.

2. **Organization**: They help structure data logically, making it easier to process and analyze. For instance, a list can store a sequence of data points for time-series analysis.

3. **Performance**: Choosing the right data structure optimizes algorithms. For example, sets are perfect for checking membership or removing duplicates quickly.

4. **Scalability**: In data analytics, where datasets can be massive, efficient data structures (e.g., arrays in NumPy) reduce memory usage and computation time compared to inefficient ones.

5. **Algorithm Implementation**: Many data analytics tasks, like sorting, searching, or graph-based analysis (e.g., network analysis), rely on specific data structures to work effectively.

6. **Flexibility**: Python is data structures support diverse operations, like slicing lists, iterating over dictionaries, or performing set operations, which are common in data cleaning and exploration.

#2. Explain the difference between mutable and immutable data types with examples?
- ***Mutable Data Types***: These can be changed after creation (i.e., their content or value can be modified in place). Mutable types allow in-place modifications without creating a new object. Examples: List, Dictionary and Set.

In [9]:
#List
my_list = [1, 2, 3];
my_list #become [1, 2, 3]
my_list[0]=5
my_list

[5, 2, 3]

In [10]:
#Dictionary
my_dict={"a": 1};
my_dict["a"]=2
my_dict

{'a': 2}

- ***Immutable Data Types***: These cannot be changed after creation (any "modification" creates a new object). Immutable types are fixed, ensuring data consistency. Examples: String, Tuple and Integer.

In [21]:
#String
my_str="hello";
my_str[0]="H"    #Raises an error, instead.
my_str="Hello"   #creates a new string.

TypeError: 'str' object does not support item assignment

In [22]:
#Tuple
my_tuple=(1, 2, 3);
my_tuple[0]=5  #Raises an error.

TypeError: 'tuple' object does not support item assignment

In [24]:
#Integer
x=5;
x=x+1    #Creates a new integer object.
x

6

# 3. What are the main differences between lists and tuples in Python?
  -***List***
- Mutability=Mutable (can modify elements).
- Syntax=Square brackets: [1, 2, 3]
- Performance=Slower due to mutability overhead.
- Use Case=When data needs to change (e.g., appending items).
- Methods=Many methods like .append(), .pop()

Example=lst = [1, 2]; lst.append(3) → [1, 2, 3]


  -***Tuple***
- Mutability=	Immutable (cannot modify elements).
- Syntax=	Parentheses: (1, 2, 3)
- Performance=Faster due to immutability.
- Use Case=When data should remain constant (e.g., fixed records)
- Methods=Fewer methods like .count(), .index().

Example= tup = (1, 2); tup[0] = 3 → Error

# 4. Describe how dictionaries store data?

- **Structure**:- Dictionaries in Python store data as key-value pairs, where each key is unique and maps to a value.
- **Storage Mechanism**:- Internally, dictionaries use a "hash table" (explained in Q8). Each key is hashed to generate an index, which points to the corresponding value in memory.
- **Characteristics**:
  - Keys must be immutable(e.g., strings, numbers, tuples) and unique.
  - Values can be any data type (mutable or immutable).
  - Access is fast, with average O(1) time complexity for lookups, insertions, and deletions.
  Example

In [29]:
my_dict={"name": "Aman", "age": 29}
"Aman" and 29    #name and age are key; Aman and 29 are "value".
my_dict["name"]

'Aman'

# 5. Why might you use a set instead of a list in Python?

- **Uniqueness**: Sets automatically remove duplicates, while lists allow duplicates. Example:
set([1, 1, 2]) >>{1, 2} and
list([1, 1, 2]) >>[1, 1, 2]
- **Fast Membership Testing**: Sets have O(1) average time complexity for checking if an element exists, compared to O(n) for lists. Example: `3 in {1, 2, 3} is faster than 3 in [1, 2, 3].
- **Set Operations**: Sets support mathematical operations like union (`|`), intersection (`&`), and difference (`-`), useful in data analytics for comparing datasets. Example: {1, 2} & {2, 3}>>{2}`.
- **Use Case**: Use sets to store unique items or perform operations like finding common elements in two datasets (e.g., unique customer IDs).

# 6. What is a string in Python, and how is it different from a list?

- **String in Python**: A string is an immutable sequence of characters(e.g, s = "hello").
  - **Characteristics**:
    - Immutable: Cannot modify characters (e.g, s[0] = "H" >> raises an error).
    - Supports indexing, slicing, and methods like .upper(), .split().
    - Stored as Unicode characters.

- **Differences from a List**:

-**String**

Mutability= Immutable

Content= Only characters (e.g., "abc")


Methods=  String-specific (e.g., .join())


Example=> s = "hello"; s[0] → "h"


---------------------------


-**List**

Mutability= Mutable

Content= Any data type (e.g., [1, "a"])


Methods= List-specific (e.g., .append())


Example= lst = [1, 2]; lst[0] = 3

# 7. How do tuples ensure data integrity in Python?
- **Immutability**: Tuples cannot be modified after creation (no appending, deleting, or changing elements), ensuring the data remains unchanged.
  - Example: tup = (1, 2, 3); tup[0] = 5 >>Raises an error.
- **Data Protection**: This immutability prevents accidental or unauthorized changes, making tuples reliable for storing constant data (e.g., coordinates, database records).
- **Hashable**: Tuples can be used as dictionary keys or set elements (if their contents are immutable), ensuring consistent data in hash-based structures.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
- **Hash Table**: A data structure that stores key-value pairs using a hash function. The hash function converts a key into an index in an array, allowing fast O(1) average-time lookups, insertions, and deletions.
  - **How It Works**:
    - A key is hashed (e.g., "name" >> hash value 123).
    - The hash value maps to an index in an array where the value is stored.
    - Collisions (same index for different keys) are resolved using techniques like chaining or open addressing.

- **Relation to Dictionaries**: Python dictionaries are implemented using hash tables.
  - Keys must be immutable (and hashable) to ensure consistent hash values.
  - Example: d = {"name": "Alice"} >> "name" is hashed to an index, and "Alice" is stored at that location.
  - This enables fast access: d["name"] retrieves "Alice" in O(1) time.

# 9. Can lists contain different data types in Python?
- **Yes**, lists in Python are heterogeneous, meaning they can contain different data types.
- **Example**: my_list = [1, "hello", 3.14, [2, 3], {"a": 1}]>>  Contains an integer, string, float, nested list, and dictionary.
- **Use in Analytics**: This flexibility is useful for storing mixed data, like a list of records with numbers and text (e.g., [customer_id, name, purchase_amount]).
- **Note**: While flexible, ensure consistent data types when using lists with libraries like NumPy or Pandas for efficient processing.

# 10. Explain why strings are immutable in Python?
- **Immutability Reason**: Strings are designed to be immutable for efficiency, safety, and consistency.
  - **Efficiency**: Immutable strings allow Python to reuse string objects (string interning), saving memory. Example: "hello" used multiple times may refer to the same object.
  - **Safety**: Immutability prevents unintended changes, especially when strings are used as dictionary keys or in concurrent programs.
  - **Hashability**: Immutable strings have consistent hash values, making them valid as dictionary keys or set elements.
  - **Performance**: Modifications create new strings, but operations like concatenation are optimized internally.

- **Example**: s = "hello"; s = s + " world" → Creates a new string "hello world", leaving the original "hello" unchanged.
- **Use in Analytics**: Immutability ensures text data (e.g., column names in Pandas) remains consistent during processing.

# 11. What advantages do dictionaries offer over lists for certain tasks?

- **Fast Lookups**: Dictionaries use hash tables, providing O(1) average time complexity for accessing values by key, compared to O(n) for lists when searching by value.
- **Key-Value Mapping**: Dictionaries store data as key-value pairs, ideal for associating data (e.g., customer ID → purchase amount), while lists store ordered sequences without inherent mappings.
- **Unique Keys**: Dictionaries enforce unique keys, preventing duplicate mappings, unlike lists, which allow duplicates.
- **Use Case**: In data analytics, dictionaries are better for quick lookups (e.g., mapping product IDs to prices in a dataset) than iterating over a list.

# 12. Describe a scenario where using a tuple would be preferable over a list.
- **Scenario**: Storing fixed, immutable data like GPS coordinates (latitude, longitude) in a data analytics project.
- **Why Tuple?**:
  - **Immutability**: Tuples prevent accidental changes, ensuring data integrity (e.g., (40.7128, -74.0060) for New York City remains constant).
  - **Performance**: Tuples are faster and use less memory than lists due to immutability.
  - **Hashability**: Tuples can be used as dictionary keys (e.g., mapping coordinates to city names), while lists cannot.
- **Example**: `city_coords = {(40.7128, -74.0060): "New York"}` vs. a list, which could be modified accidentally.

# 13. How do sets handle duplicate values in Python?
- **Automatic Removal**: Sets only store unique values; duplicates are automatically discarded when creating or adding to a set.
- **Example**: my_set = set([1, 1, 2, 2, 3]) >> {1, 2, 3}.
- **Mechanism**: Sets use a hash table internally, where each element’s hash determines its uniqueness.
- **Use in Analytics**: Sets are useful for deduplicating data, like finding unique customer IDs in a dataset: unique_ids = set(customer_ids)

# 14. How does the "in" keyword work differently for lists and dictionaries?
- **Lists**:
  - Checks if an element exists in the list by iterating through it.
  - Time Complexity: O(n), as it may need to scan the entire list.
  - Example: 3 in [1, 2, 3] >>True, checks each element.

- **Dictionaries**:
  - Checks if a key exists in the dictionary using its hash table.
  - Time Complexity: O(1) on average, due to fast hash-based lookup.
  - Example: "a" in {"a": 1, "b": 2} >>True, checks keys only (not values).

- **Analytics Insight**: Use dictionaries for faster membership testing in large datasets (e.g., checking if a product ID exists).

# 15. Can you modify the elements of a tuple? Explain why or why not.
- **No**, tuple elements cannot be modified.
- **Reason**: Tuples are **immutable** in Python, meaning their content is fixed after creation to ensure data integrity and hashability.
- **Example**: tup = (1, 2, 3); tup[0] = 5 >> Raises TypeError: 'tuple' object does not support item assignment.
- **Workaround**: Create a new tuple: tup = (5,) + tup[1:] >> `(5, 2, 3).
- **Use in Analytics**: Immutability makes tuples ideal for storing constant data, like fixed column names or configuration settings.

# 16. What is a nested dictionary, and give an example of its use case?
- **Nested Dictionary**: A dictionary where values are themselves dictionaries, allowing hierarchical data storage.
- **Example**:
  
  students = {
      "Aman": {"age": 29, "grade": "A"},
      "Rahul": {"age": 25, "grade": "B"}
  }
   
   Access:students["Aman"]["age"] >> 29

# 17. Describe the time complexity of accessing elements in a dictionary.
- **Time Complexity**: O(1) on average for accessing elements in a dictionary.
- **Reason**: Dictionaries use a hash table, where a key is hashed to compute an index in an array, allowing direct access to the value.
- **Edge Case**: In rare cases of hash collisions, access may degrade to O(n), but Python’s hash table implementation minimizes this.
- **Analytics Relevance**: Fast O(1) access makes dictionaries ideal for frequent lookups in large datasets, like mapping IDs to records.

# 18. In what situations are lists preferred over dictionaries?

- **Ordered Data**: Lists maintain insertion order, ideal for sequences (e.g., time-series data: `[10, 20, 30]`), while dictionaries are key-based.
- **Indexing by Position**: Lists allow access by integer index (e.g., `lst[0]`), while dictionaries use keys.
- **Duplicates Allowed**: Lists permit duplicate elements, unlike dictionary keys, which must be unique.
- **Sequential Processing**: Lists are better for iterating over data in order, like processing rows in a dataset.
- **Example in Analytics**: Use lists to store ordered sales data for plotting trends with Matplotlib, where order matters.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- **Unordered Nature**: In Python versions before 3.7, dictionaries did not guarantee key order due to their hash table implementation. Since Python 3.7+, dictionaries preserve insertion order, but they are still considered “logically unordered” because order is not their primary feature (unlike lists).
- **Reason**: Hash tables prioritize fast key-based access (O(1)), not sequential ordering. Keys are mapped to array indices via hashing, which doesn’t inherently preserve order.
- **Effect on Retrieval**:
  - Retrieval is key-based (dict[key]), not index-based, so order doesn’t affect access speed or correctness.
  - If order matters (e.g., iterating keys), Python 3.7+ ensures keys are returned in insertion order.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
- **List**:
  - **Retrieval Method**: Access elements by integer index (e.g., lst = [1, 2, 3]; lst[1] >> → 2).
  - **Time Complexity**: O(1) for direct index access, but O(n) for searching a value (e.g., 3 in lst).
  - **Structure**: Ordered sequence, ideal for positional or sequential data.
  - **Use Case**: Retrieving time-series data by position (e.g., sales at index 0).

- **Dictionary**:
  - **Retrieval Method**: Access values by key (e.g., d = {"a": 1, "b": 2}; d["a"] >> 1).
  - **Time Complexity**: O(1) on average for key-based access due to hash table.
  - **Structure**: Key-value pairs, ideal for mapping data.
  - **Use Case**: Retrieving customer details by ID in a dataset (e.g., customer_dict["ID123"]).

#***Practical Question***

# 1. Write a code to create a string with your name and print it?

In [31]:
name="Aman"    #Create a string with my name.
print(name)

Aman

# 2. Write a code to find the length of the string "Hello World"?

In [32]:
text="Hello World"
length=len(text)
print(length)

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [33]:
text="Python Programming"
sliced=text[:3]
print(sliced)

Pyt

# 4. Write a code to convert the string "hello" to uppercase?

In [34]:
text="hello"
upper_text=text.upper()   #Convert "hello" to uppercase
print(upper_text)

HELLO

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [35]:
text="I like apple" #output:- I like apple
new_text=text.replace("apple","orange")   #Replace apple with orange.
print(new_text)

I like orange

# 6. Write a code to create a list with numbers 1 to 5 and print it?

In [36]:
numbers=[1, 2, 3, 4, 5]   #Create a list with numbers 1 to 5
print(numbers)

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [37]:
numbers=[1, 2, 3, 4]    #Append the number 10 to the list
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [38]:
numbers=[1, 2, 3, 4, 5]   #Remove the number 3 from the list
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [39]:
letters=['a', 'b', 'c', 'd']  #Access the second element in the list
second_element=letters[1]
print(second_element)

b

#10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [40]:
numbers=[10, 20, 30, 40, 50]
numbers.reverse()   #Reverse the list
print(numbers)

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [41]:
numbers=(100, 200, 300)   #Create a tuple with elements>>100, 200, 300
print(numbers)

(100, 200, 300)

# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [42]:
colors=('red', 'green', 'blue', 'yellow')
second_to_last=colors[-2]    #Access the second-to-last element of the tuple
print(second_to_last)

blue

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [43]:
numbers=(10, 20, 5, 15)    #Find the minimum number in the tuple
min_value=min(numbers)
print(min_value)

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [44]:
animals=('dog', 'cat', 'rabbit')  #Find the index of "cat" in the tuple
index=animals.index('cat')
print(index)

1

# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [45]:
fruits=('apple', 'banana', 'mango')  #Create a tuple with three fruits and check for "kiwi"
is_kiwi_present='kiwi' in fruits
print(is_kiwi_present)

False

In [46]:
fruits=('apple', 'banana', 'kiwi')  #Create a tuple with three fruits and check for "kiwi"
is_kiwi_present='kiwi' in fruits
print(is_kiwi_present)

True

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [56]:
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [57]:
numbers={1, 2, 3, 4, 5}
numbers.clear()    #Clear all elements from the set
print(numbers)

set()

# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [58]:
numbers={1, 2, 3, 4}
numbers.remove(4)   #Remove element 4 from the set
print(numbers)

{1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [60]:
set1={1, 2, 3}
set2={3, 4, 5}
union_set=set1|set2   #union of two sets
print(union_set)

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [61]:
set1={1, 2, 3}
set2={2, 3, 4}
intersection_set=set1&set2  #intersection of two sets
print(intersection_set)

{2, 3}

# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [68]:
my_dict={"name": "Aman", "age": "29", "city": "Agra"}  #Create a dictionary with name, age, and city
print(my_dict)

{'name': 'Aman', 'age': '29', 'city': 'Agra'}

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [66]:
my_dict={'name': 'John', 'age': 25}
my_dict['country']='USA'  #Add a new key-value pair "country": "USA" to the dictionary
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}?

In [69]:
my_dict={'name': 'Alice', 'age': 30}
name=my_dict['name']    #Access value for key "name"
print(name)

Alice

# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [70]:
my_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']   #Remove key "age" from dictionaryv
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [71]:
my_dict={'name': 'Alice', 'city': 'Paris'}
is_city_present='city' in my_dict  #Check if key "city" exists in dictionary
print(is_city_present)

True

# 26. Write a code to create a list, a tuple, and a dictionary, and print them all?

In [72]:
my_list=[1, 2, 3]
my_tuple=('a', 'b', 'c')
my_dict={'name': 'Aman', 'age': 29}

#Create a list, tuple, and dictionary

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Aman', 'age': 29}

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result?

In [74]:
import random
numbers=random.sample(range(1, 101), 5)   #Create a list of 5 random numbers
numbers.sort()     #sort a list of 5 random numbers
print(numbers)

[30, 35, 42, 45, 78]

# 28. Write a code to create a list with strings and print the element at the third index?

In [76]:
strings=['apple', 'banana', 'mango', 'kiwi', 'papaya']    #Create a list of strings
third_element=strings[3]   #print third index
print(third_element)

kiwi

# 29. Write a code to combine two dictionaries into one and print the result?

In [77]:
dict1={'name': 'Aman', 'age': 29}
dict2={'city': 'Delhi', 'country': 'India'}
combined_dict={dict1, dict2}   #Combine two dictionaries
print(combined_dict)

{'name': 'Aman', 'age': 29, 'city': 'Delhi', 'country': 'India'}

# 30. Write a code to convert a list of strings into a set?

In [78]:
string_list=['apple', 'banana', 'apple', 'cherry']
string_set=set(string_list)   #Convert a list of strings to a set
print(string_set)

{'banana', 'cherry', 'apple'}